{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}
{% extends 'temp/user_2_home.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>turf</title>
</head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<body>
<form method="post">
    {% csrf_token %}
     <table id="customers">
        <tr>
            <th>Content</th>
            <th>Link</th>
        </tr>
        <tr>
               <td>Drag to back</td>
            <td><a href="https://youtu.be/yFq9FEAYk6s?feature=shared" target="_blank" > Video</a></td>
        </tr>
        <tr>
           <td>Goalkeeping drills</td>
            <td><a href="https://youtu.be/azU6upenuJY?feature=shared" target="_blank" > Video</a></td>
        </tr>
        <tr>
            <td>How to nutmeg?</td>
            <td><a href="https://youtu.be/y7waNmOTAT0?feature=shared" target="_blank" > Video</a></td>
        </tr>
        <tr>
           <td>How to become a better striker?</td>
            <td><a href="https://youtu.be/pQtrHC9gNik?feature=shared" target="_blank" > Video</a></td>
        </tr>
{#        <tr>#}
{#            <td>17 law of football</td>#}
{#            <td><a href="https://youtu.be/yFq9FEAYk6s?feature=shared" target="_blank" > Video</a></td>#}
{#        </tr>#}
    </table>
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {% if msg %}#}
{#	<script>#}
{#		var message="{{msg}}"#}
{#		alert('Successfully Updated')#}
{#		</script>#}
{#	{% endif %}#}
</form>
 </body>
</html>
{% endblock %}