{% extends 'temp/manager_2_home.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<body>
<table border="2" class="table table-bordered" id="customers">
		<tr>
			<th>TURF NAME</th>
			<th>ADDRESS</th>
            <th>PRICE</th>
			<th>STATUS</th>
            <th>ACTION</th>
		</tr>
        {% for i in x %}
		<tr>

			<td>{{ i.turf_name }}</td>
			<td>{{ i.place }}</td>
            <td>{{ i.price }}</td>
			<td>{{ i.status }}</td>
          <td><a href="/slot/view_slot/{{ i.turf_id }}" class="btn btn-primary">View Turf Slots </a></td>

		</tr>
        {% endfor %}
	</table>

  {% if msg %}
  <script>
    var m="{{msg}}"
    alert(m)
  </script>
  {% endif %}

</body>

</html>
{% endblock%}